<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/css/cssSito.css}" rel="stylesheet">
<title>Profilo Utente</title>
<style>
body {
	font-family: sans-serif;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}

hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

a {
	color: dodgerblue;
}

* {
	box-sizing: border-box;
}

b {
	font-family: sans-serif;
}

p {
	font-family: sans-serif;
}
</style>
</head>
<body>

	<div th:insert="fragments/header::header-block"></div>
	<br>
	<br>
	<form action="/action_page.php">
		<div class="container">
			<h1 class="titolo">Il mio profilo</h1>
			<p style="text-align: center;">Ecco i tuoi dati personali</p>
			<hr>

			<label for="email"><b>Livello di preparazione</b></label>
			<p>1</p>

			<label for="email"><b>Email</b></label>
			<p>Luisa</p>

			<label for="psw"><b>Password</b></label>
			<p>Luisa</p>

			<label for="psw-repeat"><b>Repeat Password</b></label>
			<p>Luisa</p>

			<label for="nome"><b>Nome</b></label>
			<p>Luisa</p>

			<label for="nome"><b>Cognome</b></label>
			<p>Luisa</p>

			<label for="nome"><b>Data di nascita</b></label>
			<p>Luisa</p>

			<hr>


			<button type="submit" class="bottoni pulsanticolori">Elimina</button>
			<!-- collegare alert -->

		</div>

	</form>
	<div th:insert="fragments/footer::footer-block"></div>

</body>
</html>